.container{
    border: 2px solid rgb(83, 60, 60);
    display: flex;
    padding: 20px;
}

#img{
    width: 30%;
    height: 30%;
    margin-right: 20px;
}

.use{
    font-size: 30px;
    font-weight: bolder;

}
.dem{
    font-size: 15px;
}

.auth{
    display: flex;
}
.auth p{
    margin-right: 50px;
}

button{
    border-radius: 5cm;
    background-color: pink;
    margin-left: 50px;
    margin-bottom: 50px;
}